
@import url('https://fonts.cdnfonts.com/css/elgoc');
.gemTab{
    width: 95%;
    margin: 0 auto;
    border-bottom: transparent 1px solid;


    .subTitle{
        padding-top: 29px;
        font-family: "Elgoc",sans-serif;
        font-size:20px ;
        font-weight: 600;
        color:#6e550F;
    }


    .ant-tabs-nav-scroll{
        &::-webkit-scrollbar{
            width:3px;
        }
    }

}




.tablet{
    .main-Tab{
        width:100%;
        margin:0 auto;
        .ant-tabs .ant-tabs-tab{
            color:#6e550F
        }
        .ant-tabs-tab-btn{
            color: #d1a543;
            // 控制‘legacy’和‘classic’兩字的大小
            font-size: 1rem;
        }
        
    }
}



.tablet{
    .Legacy-Tab,.Classic-Tab{
        .ant-tabs-nav-list{
            width:99%;
    
            .ant-tabs-tab{
                width:33%;
                justify-content: center;
                .ant-tabs-tab-btn{
                    color:#d1a543;
                    // 控制‘material’，‘artist’，‘Collaboration’字體的大小
                    font-size:0.8rem;
                    padding-top: 3px;
                }
                background-color: #FDFAF6;
            }
    
            .ant-tabs-tab.ant-tabs-tab-active{
                
                background-color: #D1a543;
                .ant-tabs-tab-btn{
                    color:white;
                }
           }
        }
        
    } 
}



@media screen and (max-width:576px){
    #MobileLegacyGemTab{
        width:82%;
         .heading{
            font-size: 15px;
            padding-top: 15px;
            border-top: 1px solid transparent;
         }
         .ant-tabs-top {
            > .ant-tabs-nav {
              margin: 0;
            }
          }
         .ant-tabs{
           .ant-tabs-tab+.ant-tabs-tab {
               margin: 0 0 0 0px;
           }
           
           .ant-tabs-content-holder{
               .ant-tabs-content{
                border-bottom: 1px solid #d1a543;
               }
           }
   
       }
         .ant-tabs >.ant-tabs-nav {
            border-bottom: 1px solid #d1a543;
            .ant-tabs-nav-wrap{
                padding-left: 7px;
                .ant-tabs-nav-list{
                    width:99%;
                    justify-content: center;
                    margin-bottom: 7px;
                    line-height: 0.1;
                    padding: 0 10px;
       
                     .ant-tabs-tab{
                         background-color: #fdfaf6;
                         width: 119px;
                         justify-content: center;
                         padding: 9px 0;
                         margin-right: 3px;
                         .ant-tabs-tab-btn{
                             font-size: 11px;
                             font-weight: 300;
                             color:#d1a543;
                         }
                        
                     }
                     [data-node-key='3']{
                         padding-right: 23px;
                         padding-left: 23px;
                       //   width: 138px;
                     }
                     [data-node-key='1']{
                       //   width:120px;
                     }
                     [data-node-key='1']{
                       // width:120px;
                   }
                     
       
                    .ant-tabs-tab-active{
                     font-weight: 500;
                     background-color: #d1a543;
                     .ant-tabs-tab-btn{
                         color:white;
                         font-size:11px;
                     }
                    }
                    
                }
            }
         
        }
    }


}


@media (min-width:576px) and (max-width:991px){
    .tablet{
        #MobileLegacyGemTab{
            height: 27vh !important;
            width:100%;
            .ant-tabs{
                height: 55vh;
       
               .ant-tabs-tab+.ant-tabs-tab {
                   margin: 0 0 0 0px;
               }
               
               .ant-tabs-content-holder{
                   height:50vh;
                   .ant-tabs-content{
                    border-bottom: 1px solid #d1a543;
                   }
               }
       
           }
           .ant-tabs >.ant-tabs-nav {
               border-bottom: 1px solid #d1a543;
            .ant-tabs-nav-list{
                width:99%;
                justify-content: center;
                margin-bottom: 8px;
                margin-top: 8px;
                line-height: 0.3;
 
                 .ant-tabs-tab{
                     background-color: #fdfaf6;
                     width: 120px;
                     justify-content: center;
                     padding: 9px 0;
                     margin-right: 3px;
                     .ant-tabs-tab-btn{
                         font-size: 13px;
                         font-weight: 300;
                     }
                    
                 }
                 [data-node-key='3']{
                     padding-right: 23px;
                     padding-left: 23px;
                     width: 138px;
                 }
                 [data-node-key='1']{
                     width:120px;
                 }
                 
 
                .ant-tabs-tab-active{
                 font-weight: 500;
                 background-color: #d1a543;
                 .ant-tabs-tab-btn{
                     color:white;
                     font-size:13px;
                 }
                }
                
            }
           }
           
        }
    }
        
       
    }


@media (min-width:992px){
    #MobileLegacyGemTab{
        display: none;
    }
}

