

@media (min-width:992px) and (max-width:1200px){
    .KellyPage{
        width: 100%;
    }
}


@media (min-width:1201px) and (max-width:1300px){
    .KellyPage{
        width: 100%;
    }
}

@media (min-width:1301px) and (max-width:1500px){
    .KellyPage{
        width: 100%;
    }
}

@media (min-width:1501px) and (max-width:3000px){
    .KellyPage{
        width: 100%;
    }
}
