.MaterialTab{
    height:357px;
    overflow: auto;
}

.MaterialTab::-webkit-scrollbar{
    width: 8px;
}

.MaterialTab::-webkit-scrollbar-thumb{
    background-color: #DBC99D;
    border-radius: 4px;
}
