.KellyTab{
    overflow: auto;
    .heading{
        color: #6e550f;
        border-top: none;
        font-size: 20px;
    }

    
   


    .KellyTab1{
        // margin-top: 10px;
        .ant-tabs-nav-list {
            justify-content: center;
            line-height: 0.3;
            
            .ant-tabs-tab {
              justify-content: center;
              background-color: #FDFAF6;
              width: 120px!important;
              .ant-tabs-tab-btn {
                color: #d1a543;
              }
          
              &.ant-tabs-tab-active {
                background-color: #d1a543;
                font-weight: 600;
                width:120px;
                
          
                .ant-tabs-tab-btn {
                  color:white;
                }
              }
            }
          }
          .scrollable{
            padding-top: 32px;
            padding-bottom: 32px;
          }
    }

    overflow-x: hidden;
}

.KellyTab::-webkit-scrollbar{
    width: 8px;
}

.KellyTab::-webkit-scrollbar-thumb{
    background-color: #DBC99D;
    border-radius: 4px;
}

@media (min-width:675px) and (max-width:992px){
  #MobileKellyGemTab{
    .KellyTab{
      .KellyTab1{
        .gemBar{
          .gemBar1{
          // 有新相後應該要調整
            width:82%;
            // 有新相後應該要調整
            justify-content: space-between;
            .gem{
              // 有新相後應該要調整
              margin-bottom: 20px;
              img{
              // 有新相後應該要調整
                width:50px;
              }
            }
          }
        }
      }
     }
  }
   
}