.scrollable{
    display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #d1a543;
  border-bottom: 1px solid #d1a543;;

  & > * {
    flex-shrink: 0;
    // margin: 0 16px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width:1533px) {
     justify-content: center;
  }
}