

.heels-pic{
    padding: 10px;
    position: relative;

    .active{

        &.indicator {
            position: absolute;
            left: 50%;
            bottom: -8px;
            transform: translateX(-50%);
            width: 5px;
            height: 5px;
            background-color: #d1a543;
            border-radius: 50%;
            display: inline-block;
          }
    }

    


    .height-txt{
        position: absolute;
        bottom: -5%;
        color:#d1a543;
        left:50%;
        transform: translate(-50%);
    }
}

@media screen and (max-width:576px) {
    .Heels-section{
        width:85%;
        .heading{
            font-size: 15px;
            padding-top: 15px;
            border-top: 1px transparent solid;
        }
        .heels-pic{
            padding: 0;
            margin-top: -12px;
            .heels-choice{
                padding: 8px 0;
                width:85px;
                .ant-image{
                    width: 100%!important;
                }
            }
        }
    }
    

}

@media  (min-width:576px) and (max-width:992px){
    .Heels-section{
        height:17vh;
        margin-top: 9px;
        .heels-pic{
            margin-top: -22px;
            .heels-choice{
                padding: 8px 0;
               
            }
            .height-txt{
                bottom: -16%;
            }
        }
       
        
    }
    

    
    

}

@media  (min-width:992px) {

    .Heels-section{
        .heading{
            border-top: none;
            font-size: 24px;
            font-weight: 500;
            padding-top: 20px;
        }

        .heels-pic{
            justify-content: center;
            margin-top: -20px;
            .heels-choice{
                padding: 8px 0;
                width: 143px;
                .active{
    
                    &.indicator {
                        bottom: 4px;
                      }
                }
            }
        }
        
        
    } 


    
}