.ArtistTab{
    height:357px;
    overflow: auto;

}

.ArtistTab::-webkit-scrollbar{
    width: 8px;
}

.ArtistTab::-webkit-scrollbar-thumb{
    background-color: #DBC99D;
   
    border-radius: 4px;
}


@media screen and (max-width:820px){
    .ArtistTab{
        height: 48vh;
    }
}