
@import url('https://fonts.cdnfonts.com/css/elgoc');


@media (max-width:991px) {
    #DeskLegacyGemTab{
        display: none;
    }
}
@media (min-width:992px){
    .desktop {
        .DeskGemTab {
          width: 95%;
          margin: 0 auto;
          border-bottom: none;
          height:212px;
      
          .heading {
            border-top: none;
            margin-bottom: 10px;
            font-weight: 500;
            padding-top: 0;
          }
      
        }
      
        .main-Tab {
          width: 90%;
          margin: 0 auto;
      
          
            .ant-tabs-nav-wrap{
              justify-content: center;
              .ant-tabs-nav-list{
                justify-content: center;
                .ant-tabs-tab {
                  color: #d1a543;
                  width: 120px;
                  background-color: #FDFAF6;
                  margin-right: 5px;
                  line-height: 0.4;
                  padding: 9px 0;
          
                  &.ant-tabs-tab-active {
                    background-color: #d1a543;
                    padding: 9px 0;
                    .ant-tabs-tab-btn{
                      color: white!important;
                    }
                    
                  }
                  &+ .ant-tabs-tab{
                    margin-left: 0px;
                  }
                  .ant-tabs-tab-btn {
                    font-size: 0.8rem;
                    width: 120px;
            
                    #rc-tabs-2-tab-1,
                    #rc-tabs-2-tab-2,
                    #rc-tabs-11-tab-1,
                    #rc-tabs-11-tab-2 {
                      color: #d1a543 !important;
                    }
                  }
                }
                [data-node-key='3']{
                  padding-right: 23px;
                  padding-left: 23px;
                  width: 166px;
              }
              }
            }
          
        }
      }
}

