.MaterialTab{
    height:357px;
    overflow: auto;
}

.MaterialTab::-webkit-scrollbar{
    width: 3px;
}

.MaterialTab::-webkit-scrollbar-thumb{
    background-color: #DBC99D;
    border-radius: 4px;
}


@media screen and (min-width:576px) and (max-width:992px){
    .MaterialTab{
        height: 22vh;
        margin: 0 auto;
        margin-top: -13px;
        width:325px;
    }
}