



@media (max-width:575px) {
  .custom-carousel{
    .slide{
      margin-bottom: 0;
      height: 195px;
      color: #fff;
      line-height: 350px;
      text-align: center;

      .finalShoeContainer,
      .heelShowContainer {
        margin: 0 auto;
        @media (min-width: 576px) and (max-width: 606px) {
          width: 88%;
          
        }
  
        @media (min-width: 607px) and (max-width: 653px) {
          width: 85%;
          
        }
  
        @media (min-width: 654px) and (max-width: 713px) {
            width: 80%;
            
          }
         @media (min-width: 714px) and (max-width: 771px) {
           width: 66%;
           
         }
         @media (min-width: 772px) and (max-width: 847px) {
           width: 62%;
         }
         @media (min-width: 848px) and (max-width: 886px) {
           width: 60%;
         }
         @media (min-width: 887px) and (max-width: 917px) {
           width: 59%;
         }
         @media (min-width: 918px) and (max-width: 991px) {
           width: 52%;
         }
      }
  }

  .slick-prev,.slick-next{
    color:#d1a543!important;
    opacity:1;
  }
  .slick-prev{
    margin-left: 40px;
  }
  .slick-next{
    margin-right: 40px;
  }
  }
}


  @media (min-width: 576px) and (max-width: 991px) {
    .custom-carousel{
      .slide{
        margin-bottom: -12px;
        height: 350px;
        color: #fff;
        line-height: 350px;
        text-align: center;
        margin-top: 26px;

        .finalShoeContainer,
        .heelShowContainer {
          margin: 0 auto;
          @media (min-width: 576px) and (max-width: 606px) {
            width: 88%;
            
          }
    
          @media (min-width: 607px) and (max-width: 653px) {
            width: 85%;
            
          }
    
          @media (min-width: 654px) and (max-width: 713px) {
              width: 80%;
              
            }
           @media (min-width: 714px) and (max-width: 771px) {
             width: 66%;
             
           }
           @media (min-width: 772px) and (max-width: 847px) {
             width: 62%;
           }
           @media (min-width: 848px) and (max-width: 886px) {
             width: 60%;
           }
           @media (min-width: 887px) and (max-width: 917px) {
             width: 59%;
           }
           @media (min-width: 918px) and (max-width: 991px) {
             width: 52%;
           }
        }
    }

    .slick-prev,.slick-next{
      color:#d1a543!important;
      opacity:1;
    }
    .slick-prev{
      margin-left: 60px;
    }
    .slick-next{
      margin-right: 40px;
    }
    }
    
  }


  @media (min-width: 992px) {

    .custom-carousel{
      .slide{
        margin: 0;
        height:255px;
        min-height: 255px;
        color: #fff;
        line-height: 360px;
        text-align: center;

        .finalShoeContainer,
        .heelShowContainer{
          margin: 0 auto;
          width: 15%;
           
        }
    }

    .slick-prev,.slick-next{
      color:#d1a543;
      opacity:1;
    }
    .slick-prev{
      margin-left: 350px;
      @media (min-width: 992px) and (max-width: 1200px) {
             margin-left: 280px;
           }
    }
    .slick-next{
      margin-right: 350px;
      @media (min-width: 992px) and (max-width: 1200px) {
        margin-right: 280px;
           }
    }
    }
    
  }