// @media  (min-width:576px) and (max-width:991px){
//     .tablet-upper .finalShoeContainer,
//     .tablet-upper .heelShowContainer{
//        width: 71%;
//        margin: 0 auto;
       
//       }

//       .tablet-upper .ant-carousel .slick-next,
//       .tablet-upper .ant-carousel .slick-prev{
//         opacity: 1;
//       }

//       .ant-carousel .slick-prev,
//       .ant-carousel .slick-next{
//         color:#D1A543;
//       }

//       .ant-card-bordered{
//         border: 1px solid transparent;
//       }
// }

@media (min-width: 576px) and (max-width: 991px) {
    .tablet-upper {
      .finalShoeContainer,
      .heelShowContainer {
        margin: 0 auto;
        @media (min-width: 576px) and (max-width: 606px) {
          width: 94%;
        }
  
        @media (min-width: 607px) and (max-width: 653px) {
          width: 88%;
        }
  
        @media (min-width: 654px) and (max-width: 713px) {
            width: 80%;
          }
         @media (min-width: 714px) and (max-width: 771px) {
           width: 71%;
         }
         @media (min-width: 772px) and (max-width: 825px) {
           width: 67%;
         }
         @media (min-width: 826px) and (max-width: 886px) {
           width: 62%;
         }
         @media (min-width: 887px) and (max-width: 917px) {
           width: 59%;
         }
         @media (min-width: 918px) and (max-width: 991px) {
           width: 52%;
         }
      }
  
      .ant-carousel {
        .slick-next,
        .slick-prev {
          opacity: 1;
        }
      }
  
      .ant-carousel {
        .slick-prev,
        .slick-next {
          color: #D1A543;
        }
      }
    }
  
    .ant-card-bordered {
      border: 1px solid transparent;
    }
  }