.App {
  text-align: center;
  /* position: fixed; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height:120px;
  font-size: calc(10px + 2vmin);
  color: #D1A543;
}

.headerImg{
  height: 110px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-footer {
  background-color: transparent;
  padding: 62px 50px;
}
.ant-layout-footer img{
  width: 34px;
}

.leftColumn{
  z-index: 3;
}






/* 控制desktop版本何時出現 */
.desktop{
  display: none;
}
@media screen and (min-width:992px){
  .desktop{
    display: block;
  }

  .desktop .desktop-upper{
    height:40vh;
    min-height: 430px;
    width:50%;
    max-width: 754px;
    margin: 0 auto;
    padding-top: 20px;
  }
  .desktop .desktop-upper .upper-middle{
    padding-top: 37px;
  }
  .desktop-upper > .ant-col{
    height:100%;
  }
  .footer{
    justify-content:space-between ;
  }
  .footer .footer-logo{
    display: flex;
    justify-content: center;
    align-items:end;
  }
  .mobile-logo{
    display: none;
  }
}

/* 控制tablet版本何時出現 */
  .tablet{
    display: none;
  }
@media  (min-width:576px) and (max-width:991px){
      .tablet{
        display:block;
        width: 71%;
        margin: 0 auto;
      }
      .tablet-upper {
        height:30vh;
        min-height: 366px;
        max-width: 680px;
      }
      .tablet-upper .ant-col{
        max-width: 102%;
      }
      .tablet-upper .finalShoeContainer,
      .tablet-upper .heelShowContainer{
       width: 71%;
       margin: 0 auto;
      }
      .tablet-upper .ant-carousel .slick-next,
      .tablet-upper .ant-carousel .slick-prev{
        opacity: 1;
      }
      .tablet-bottom{
        height: 39vh;
        min-height: 400px;
        justify-content: center;
        border-bottom: 1px #d1a543 solid;
        border-top: 1px #d1a543 solid;
      }
      .tablet-bottom .bottom-bottom{
        width:50%;
        margin-top: 15px;
      }
      .ant-layout-footer {
        background-color: transparent;
        padding: 0px 112px;
        margin-top: -8px;
      }
      .shoes{
        margin-top: 5%;
      }
      .shoes .finalShoeContainer{
        width: 60%;
        margin: 0 auto;
      }
      .footer{
        justify-content: space-between;
      }
      .footer .footer-logo{
        display: flex;
        justify-content: center;
        align-items:end;
      }
      .Button-Wrap{
        vertical-align: top;
      }

      .ant-carousel .slick-prev,
      .ant-carousel .slick-next{
        color:#D1A543;
      }

      .ant-card-bordered{
        border: 1px solid transparent;
      }
}



/* 控制mobile版本何時消失 */
.mobile{
  display:block;
  margin: 0 auto;
 }
 .mobile-halfContainer{
  height:50vh;
}
.mobile-upper{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media  screen and (min-width:576px) {
  .mobile{
   display:none;
  }

}


/* 讓選中tab下方不出現藍色bar */
.ant-tabs-top >.ant-tabs-nav::before{
  border-bottom: transparent;
}
/* 讓選中tab下方不出現藍色bar */
.ant-tabs .ant-tabs-ink-bar{
  background-color: transparent!important;
}