.App {
  text-align: center;
  /* position: fixed; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height:120px;
  font-size: calc(10px + 2vmin);
  color: #D1A543;
}

.headerImg{
  height: 110px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-footer {
  background-color: transparent;
  padding: 62px 50px;
}
.ant-layout-footer img{
  width: 34px;
}

.leftColumn{
  z-index: 3;
}






/* 控制desktop版本何時出現 */
.desktop{
  display: none;
}
@media screen and (min-width:992px){
  .desktop{
    display: block;
  }

  .desktop .desktop-upper{
    height:40vh;
    min-height: 430px;
    /* background-color: purple; */
    width:50%;
    max-width: 754px;
    margin: 0 auto;
    padding-top: 20px;
  }
  .desktop .desktop-upper .upper-middle{
    padding-top: 37px;
  }
  .desktop-upper > .ant-col{
    height:100%;
  }
}

/* 控制tablet版本何時出現 */
  .tablet{
    display: none;
  }
@media  (min-width:576px) and (max-width:992px){
      .tablet{
        display:block;
        width: 80%;
        margin: 0 auto;
      }
      .tablet-upper{
        height: 46vh;
        min-height: 500px;
        max-width: 680px;
      }
      .tablet-bottom{
        height: 46vh;
      }
      .ant-layout-footer {
        background-color: transparent;
        padding: 30px 30px;
      }
      .shoes{
        height: 66%;
        width: 100%;
        margin-top: 4%;
      }
      .shoes-heels{
        height:25%;
        width: 80%;
        margin: 0 auto;
        justify-content: space-evenly;
      }
      .bottom-left{
        height:100%;
        padding-right: 10px;
      }
      .bottom-right{
        height:100%;
        padding-left: 30px;
      }
      .shoes .finalShoeContainer{
        width:51%!important;
      }
}



/* 控制mobile版本何時消失 */
.mobile{
  display:block;
  margin: 0 auto;
 }
 .mobile-halfContainer{
  height:50vh;
}
.mobile-upper{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media  screen and (min-width:576px) {
  .mobile{
   display:none;
  }

}
