.App {
  text-align: center;
  /* position: fixed; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height:120px;
  font-size: calc(10px + 2vmin);
  color: #D1A543;
}

.headerImg{
  height: 110px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-footer {
  background-color: transparent;
  padding: 62px 50px;
}
.ant-layout-footer img{
  width: 34px;
}

.leftColumn{
  z-index: 3;
}