
@import url('https://fonts.cdnfonts.com/css/elgoc');
.gemTab{
    width: 95%;
    margin: 0 auto;
    border-bottom: #d1a543 1px solid;


    .subTitle{
        padding-top: 29px;
        font-family: "Elgoc",sans-serif;
        font-size:20px ;
        font-weight: 600;
        color:#6e550F;
    }


    .ant-tabs-nav-scroll{
        &::-webkit-scrollbar{
            width:3px;
        }
    }

}




@media screen and (max-width:576px){
    #MobileKellyGemTab{
        width:87%;
         .heading{
            font-size: 15px;
            padding-top: 15px;
            border-top: 1px solid transparent;
         }
        
        .KellyTab{
            .gemBar1{
                max-width: 360px;
                .gem{
                    margin-right: 14px;
                     margin-left: 14px;
                    img{
                        width:31px
                    }
                }
            }
            .ant-tabs {
                .ant-tabs-tab {
                  & + .ant-tabs-tab {
                    margin: 0;
                  }
                }

                .ant-tabs-content-holder{
                    .gemBar{
                        // border heighlightin kelly part
                        border-bottom: 1px solid #d1a543;
                    }
                }
              }
              .ant-tabs >.ant-tabs-nav{
                .ant-tabs-tab{
                    .ant-tabs-tab-btn{
                        font-size: 11px;
                    }
                   
                }
                // border heighlightin kelly part
                border-bottom: 1px solid #d1a543;
                padding-bottom: 7px;
              }
              [data-node-key="0"]{
                margin-right: 8px;
              }
        }
    }
    
}



@media (min-width:576px) and (max-width:991px){
    .tablet{
        #MobileKellyGemTab{
            height: 27vh !important;
            border-bottom: transparent 1px solid;
            width:100%;
            .ant-tabs{
                height: 55vh;
       
               .ant-tabs-tab+.ant-tabs-tab {
                   margin: 0 0 0 0px;
               }
               
               .ant-tabs-content-holder{
                   height:50vh;
                   .gemBar{
                    border-bottom: 1px solid #d1a543;
                    // 為了看起來和Mobile Legacy Tab下方的橫線重疊而加的padding
                    padding-bottom: 1px;
                    padding-top: 4px;
                   }
               }
       
           }
          .ant-tabs >.ant-tabs-nav{
            border-bottom: 1px solid #d1a543;
            .ant-tabs-nav-list{
                margin-bottom: 8px;
                margin-top: 8px;
 
               .ant-tabs-tab{
                 margin-right: 3px;
                 .ant-tabs-tab-btn{
                     font-size: 13px;
                     font-weight: 300;
                 }
               }
 
                .ant-tabs-tab-active{
                 color:#d1a543;
                     font-weight: 300;
                }
                
            }
          } 
          
        }
    }
        
       
    }


@media (min-width:992px){
    #MobileKellyGemTab{
        display: none;
    }
}

