
@import url('https://fonts.cdnfonts.com/css/elgoc');


@media (max-width:991px) {
    #DeskKellyGemTab{
        display: none;
    }
}
@media (min-width:992px){
    .desktop {
        .DeskGemTab {
          width: 95%;
          margin: 0 auto;
          border-bottom: none;
      
          .heading {
            border-top: none;
            margin-bottom: 10px;
            font-weight: 600;
            padding-top: 0;
          }
      
          // .subTitle {
          //   padding-top: 29px;
          //   font-family: "Elgoc", sans-serif;
          //   font-size: 20px;
          //   font-weight: 600;
          //   color: #6e550F;
          // }
        }
      
        .main-Tab {
          width: 90%;
          margin: 0 auto;
      
          .ant-tabs-nav-list{
            justify-content: center;
            .ant-tabs-tab {
              color: #d1a543;
              width: 100px;
              background-color: #FDFAF6;
              margin-right: 5px;
              line-height: 0.4;
      
              &.ant-tabs-tab-active {
                background-color: #d1a543;
                .ant-tabs-tab-btn{
                  color: white!important;
                }
                
              }

              .ant-tabs-tab-btn {
                font-size: 0.8rem;
                width: 100px;
        
                #rc-tabs-2-tab-1,
                #rc-tabs-2-tab-2,
                #rc-tabs-11-tab-1,
                #rc-tabs-11-tab-2 {
                  color: #d1a543 !important;
                }
              }
            }
          }
      
            
      
            
          
        }
      }
}

